@import "tailwindcss";

#root {
    margin: 0 auto;
    padding: 4px;
    background-color: #fbeee8;

    font-family: sans-serif;
}

/* primary theme colour */
.primary {
    color: #474747;
}
/* seondary theme colour */
.secondary {
    color: #f08080;
}

.nav-link {
    transition: background-color 0.3s ease;
}
.nav-link:hover {
    background-color: #f8dcd1;
}
.nav-link.active {
    background-color: #f7d3c2;
}

.icon {
    color: #f08080;
}

div {
    outline: 1px solid orange;
}

book{
    outline: 1px solid red;
}
