@import "tailwindcss";

#root {
    margin: 0 auto;
    padding: 4px;
    text-align: center;
    background-color: #fbeee8;
    color: #f08080;
}

@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
        animation: logo-spin infinite 20s linear;
    }
}

.nav-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    transition: background-color 0.3s ease;
    font-weight: 500;
}

.nav-link:hover {
    background-color: #f8dcd1;
}

.nav-link.active {
    background-color: #f7d3c2;
}
